:root {
    --col1: #a8216b;
    --col2: #f1184c;
    --col3: #f36943;
    --col4: #f7dc66;
    --col5: #2e9599;
    font-family: "Lato";
}

* {
    margin: 0%;
    padding: 0%;
    color: var(--col4);
}

#logoImg {
    height: 125px;
}

body {
    background: var(--col5);
}

header {
    background: var(--col1);
    margin: 2%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

header nav a {
    /* margin: top right bottom left */
    margin: 0px 35px;
    padding: 15px 5px;
    text-transform: uppercase;
    text-decoration: none;
}

header nav a:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.2));
}

.boton {
    background-color: var(--col4);
    border: solid;
    border-radius: 15px;
    color: var(--col1);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}

.boton:hover{
    font-weight: bolder;
    color: var(--col3);
    background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

section {
    margin: 2%;
    background: black linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    display: flex;
}






/* 
body {
    background-color: var(--col1);
    background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.2));


}

header {
    margin: 2%;
    background-color: var(--col3);
    text-transform: uppercase;
    color: var(--col4);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header a {
    color: var(--col4);
    text-decoration: none;
}

header a:link {
    color: var(--col4);
}

header a:visited {
    color: var(--col4);

}

header a:hover {
    color: var(--col2);
    text-decoration: underline;


}

header a:active {
    color: var(--col4);

}

#logoImg {
    width: 100px;
}

.boton {
    background-color: var(--col2);
    border: solid;
    border-radius: 15px;
    color: var(--col5);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Roboto";
}

.boton:hover{
    color: var(--col4);
    text-decoration: underline;
    background-color: var(--col4);
    color: var(--col2);
    font-size: 14px;

}

main {
    margin: 2%;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

main section {
    /* margin: top right bottom left; 
    margin: 10px 0px;
    padding: 10px 10px;
    background-color: var(--col3);
    color: var(--col4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section div {
    justify-content: center;
}


footer {
    margin: 2%;
    background-color: var(--col3);
} */

