:root {
    --col1: #a8216b;
    --col2: #f1184c;
    --col3: #f36943;
    --col4: #f7dc66;
    --col5: #2e9599;
    --colClaro: #ffffff;
    --colObscuro: #000000;
    font-family: "Lato";
}

* {
    margin: 0%;
    padding: 0%;
}

header {
    background: var(--col1);
}


.logoImg {
    height: 120px;
}

footer {
    background: var(--col1);

}

.iconoRedes {
    height:  50px;
}
