:root {
    --col1: #a8216b;
    --col2: #f1184c;
    --col3: #f36943;
    --col4: #f7dc66;
    --col5: #2e9599;
    --colClaro: #ffffff;
    --colObscuro: #000000;
    font-family: "Lato";
}

* {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: var(--col1);
    color: var(--colClaro)
}

header div{
    display: flex;
    justify-content: center;
}

header div nav a {
    margin:  45px 25px;
    padding: 10px 10px;
    color: var(--colClaro);
    text-transform: uppercase;
    text-decoration: none;

}

main section {
    background: var(--col3);
    color: var(--colClaro);
    padding: 20px;
}

main section h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 15px 25%;

}

footer {
    background: var(--col1);
}

#divLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoImg {
    height: 120px;
}

.boton {
    color: var(--colObscuro);
}

.iconoRedes {
    height:  40px;
}