* {
    margin: 0%;
    padding: 0%;
}

body {
    background: rgb(48, 47, 47);
}

header {
    display: flex;
    background: gray;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 50px;

}

#logoHeader {
    width: 200px;
}

#navList {
    display: flex;
}



#welcomeImg {
    margin: 10%;
    width: 80%;
}

main section {
    display: flex;
}


footer {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 50px;
    background: gray;

}

footer ul {
    display: flex;
}

footer ul img {
    width: 40px;
}

section {
    background: gray;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 50px;
}

aside {
    background: gray;
    margin: 1%;
    padding: 5%;
    border-radius: 5%;
}

#galGrande img {
    width: 45%;
}

#galChica img {
    width: 20%;
}

#listaVideosPrin {
    display: flex;
}

#listaVideosPrin video {
    width: 320px;
    height: 120px;
}